html 
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href=' /style.css')
    title Safety Stoplight
  body 
    script(src='./script.js')
    .textcanvas
      p#date.date
      p#numlost.numlost
      p.text
        | Days Since Last Lost Time!
        br
        br
        | Incidents Last Month
      p#numincidents.numincidents
    .canvas
      .background
        img#background(src='./pngs/slide_background.png' width='1920' height='1080')
      .stoplight
        img#stoplight(src='' width='540' height='550')
      .grid
        .wrapper1
          #box1.box.box1
          #box2.box.box2
          #box3.box.box3
          #box4.box.box4
          #box5.box.box5
          #box6.box.box6
        .wrapper2
          #box10.box.box13
          #box11.box.box14
          #box12.box.box15
          #box19.box.box16
          #box20.box.box17
          #box21.box.box18
        .wrapper3
          #box25.box.box25
          #box26.box.box26
          #box27.box.box27
          #box28.box.box28
          #box29.box.box29
          #box30.box.box30
        .wrapper4
          #box7.box.box7
          #box8.box.box8
          #box9.box.box9
          #box16.box.box10
          #box17.box.box11
          #box18.box.box12
        .wrapper5
          #box13.box.box19
          #box14.box.box20
          #box15.box.box21
          #box22.box.box22
          #box23.box.box23
          #box24.box.box24
        #box31.box.box31
    